{% load static %}

<header class="header d-blue-bg">
        <div class="header-top">
            <div class="container">
                <div class="header-inner">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-7">
                            <div class="header-inner-start">
                                <div class="header__currency border-right">

                                <div class="support d-none d-sm-block">
                                    {% if user.is_authenticated %}
                                    <p>
                                        WELCOME:
                                        {% if user.first_name == "" %}
                                            {{user.email}}
                                        {% else %}
                                            {{ user.first_name }} {{ user.last_name }}
                                        {% endif %}
                                    </p>
                                    {% else %}
                                    <p>Please do Login First....</p>
                                    {% endif %}


                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                            <div class="header-inner-end text-md-end">
                                <div class="ovic-menu-wrapper">
                                    <ul>
                                        <li><a href="{% url 'about' %}">About Us</a></li>
<!--                                        <li><a href="#">Order Tracking</a></li>-->
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                        <li><a href="{% url 'faqs' %}">FAQs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mid">
            <div class="container">
                <div class="heade-mid-inner">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                            <div class="header__info">
                                <div class="logo">
                                    <a href="#" class="logo-image"><img src="{% static 'assets/img/logo/lc.png' %}" alt="logo"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                            <div class="header__search">
                                <form action="/search" method="get">
                                    <div class="header__search-box">
                                        <input class="search-input" type="text" name="query" id="query" placeholder="I'm shopping for...">
                                        <button class="button" type="submit"><i class="far fa-search"></i></button>
                                    </div>
                                    <div class="header__search-cat">
                                        <P style="margin-top:15px;">SEARCH HERE</P>
<!--                                        <select>-->
<!--                                            <option>SEARCH HERE</option>-->
<!--&lt;!&ndash;                                            <option>Best Seller Products</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option>Top 10 Offers</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option>New Arrivals</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option>Phones &amp; Tablets</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option>Electronics &amp; Digital</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option>Fashion &amp; Clothings</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option>Jewelry &amp; Watches</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option>Health &amp; Beauty</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option>Sound &amp; Speakers</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option>TV &amp; Audio</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <option>Computers</option>&ndash;&gt;-->
<!--                                        </select>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                       {% include 'includes/modal.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-3">
                        <div class="cat__menu-wrapper side-border d-none d-lg-block">
                            <div class="cat-toggle">
                                <button type="button" class="cat-toggle-btn cat-toggle-btn-1"><i class="fal fa-bars"></i> Shop by department</button>
                                <div class="cat__menu">
                                    <nav id="mobile-menu" style="display: block;">
                                        <ul>
                                            {% for i in main_category %}


                                            <li>
                                                <a href="#" >{{i.name}}<i class="far fa-angle-down"></i></a>
                                                <ul class="mega-menu">
                                                    {% for cat in i.category_set.all %}
                                                    <li><a href="/product" style="color:orange;">{{cat.name}}</a>
                                                        <ul class="mega-item">
                                                            {% for sub_cat in cat.sub_category_set.all %}
                                                            <li><a href="/product">{{sub_cat.name}}</a></li>

                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>

{% endfor %}

<!--                                            <li><a href="shop.html">Health &amp; Beauty</a></li>-->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-3">
                      <div class="header__bottom-left d-flex d-xl-block align-items-center">
                        <div class="side-menu d-lg-none mr-20">
                          <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i class="fas fa-bars"></i></button>
                        </div>
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="{% url 'home' %}" class="active">Home </a>

                                    </li>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                     <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                     <li><a href="{% url 'product' %}">Product</a></li>
<!--                                    <li class="has-mega"><a href="shop.html">Shop <i class="far fa-angle-down"></i></a>-->
<!--                                        <div class="mega-menu">-->
<!--                                            <div class="container container-mega">-->
<!--                                                <ul>-->
<!--                                                    <li>-->
<!--                                                        <ul>-->
<!--                                                        <li class="title"><a href="shop.html">SHOP LAYOUT</a></li>-->
<!--                                                        <li><a href="shop.html">Pagination</a></li>-->
<!--                                                        <li><a href="shop.html">Ajax Load More</a></li>-->
<!--                                                        <li><a href="shop.html">Infinite Scroll</a></li>-->
<!--                                                        <li><a href="shop.html">Sidebar Right</a></li>-->
<!--                                                        <li><a href="shop.html">Sidebar Left</a></li>-->
<!--                                                        </ul>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <ul>-->
<!--                                                        <li class="title"><a href="shop.html">SHOP PAGES</a></li>-->
<!--                                                        <li><a href="shop.html">List View</a></li>-->
<!--                                                        <li><a href="shop.html">Small Products</a></li>-->
<!--                                                        <li><a href="shop.html">Large Products</a></li>-->
<!--                                                        <li><a href="shop.html">Shop — 3 Items</a></li>-->
<!--                                                        <li><a href="shop.html">Shop — 4 Items</a></li>-->
<!--                                                        <li><a href="shop.html">Shop — 5 Items</a></li>-->
<!--                                                        </ul>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <ul>-->
<!--                                                        <li class="title"><a href="shop.html">PRODUCT LAYOUT</a></li>-->
<!--                                                        <li><a href="shop.html">Description Sticky</a></li>-->
<!--                                                        <li><a href="shop.html">Product Carousel</a></li>-->
<!--                                                        <li><a href="shop.html">Gallery Modern</a></li>-->
<!--                                                        <li><a href="shop.html">Thumbnail Left</a></li>-->
<!--                                                        <li><a href="shop.html">Thumbnail Right</a></li>-->
<!--                                                        <li><a href="shop.html">Thumbnail Botttom</a></li>-->
<!--                                                        </ul>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <ul>-->
<!--                                                        <li class="title"><a href="shop.html">Basketball</a></li>-->
<!--                                                        <li><a href="shop.html">East Hampton Fleece</a></li>-->
<!--                                                        <li><a href="shop.html">Faxon Canvas Low</a></li>-->
<!--                                                        <li><a href="shop.html">Habitasse Dictumst</a></li>-->
<!--                                                        <li><a href="shop.html">Kaoreet Lobortis</a></li>-->
<!--                                                        <li><a href="shop.html">NikeCourt Zoom</a></li>-->
<!--                                                        <li><a href="shop.html">NikeCourts Air Zoom</a></li>-->
<!--                                                        </ul>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <ul>-->
<!--                                                        <li class="title"><a href="shop.html">Basketball</a></li>-->
<!--                                                        <li><a href="shop.html">East Hampton Fleece</a></li>-->
<!--                                                        <li><a href="shop.html">Faxon Canvas Low</a></li>-->
<!--                                                        <li><a href="shop.html">Habitasse Dictumst</a></li>-->
<!--                                                        <li><a href="shop.html">Kaoreet Lobortis</a></li>-->
<!--                                                        <li><a href="shop.html">NikeCourt Zoom</a></li>-->
<!--                                                        <li><a href="shop.html">NikeCourts Air Zoom</a></li>-->
<!--                                                        </ul>-->
<!--                                                    </li>-->
<!--                                                    <li class="mega-image hover-effect" style="background-image: url(assets/img/bg/menu-item.jpg);">-->
<!--                                                        <ul>-->
<!--                                                          <li><a href="shop.html">-->
<!--                                                            <h4>Top Cameras <br> Bestseller Products</h4>-->
<!--                                                            <h5>4K</h5>-->
<!--                                                            <h6>Sale Up To <span>60% Off</span></h6>-->
<!--                                                          </a></li>-->
<!--                                                        </ul>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                            <div class="offer mt-40">-->
<!--                                                <p><b>30% OFF</b> the shipping of your first order with the code: <b>DUKA-SALE30</b></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
                                    <li><a href="{% url 'faqs' %}">FAQS</a>

                                    </li>
<!--                                    <li>-->
<!--                                        <a href="about.html">Pages <i class="far fa-angle-down"></i></a>-->
<!--                                        <ul class="submenu">-->
<!--                                            <li><a href="my-account.html">My Account</a></li>-->
<!--                                            <li><a href="product-details.html">Product Details</a></li>-->
<!--                                            <li><a href="faq.html">FAQs pages</a></li>-->
<!--                                            <li><a href="cart.html">Cart</a></li>-->
<!--                                            <li><a href="wishlist.html">Wishlist</a></li>-->
<!--                                            <li><a href="checkout.html">Checkout</a></li>-->
<!--                                            <li><a href="contact.html">Contact Us</a></li>-->
<!--                                            <li><a href="404.html">404 Error</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
                                </ul>
                            </nav>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-9">
                        <div class="shopeing-text text-sm-end">
                            <p>Spend ₹ 120 more and get free shipping!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <!-- offcanvas area start -->
    <div class="offcanvas__area">
        <div class="offcanvas__wrapper">
        <div class="offcanvas__close">
            <button class="offcanvas__close-btn" id="offcanvas__close-btn">
                <i class="fal fa-times"></i>
            </button>
        </div>
        <div class="offcanvas__content">
            <div class="offcanvas__logo mb-40">
                <a href="index.html">
                <img src="{% static 'assets/img/logo/logo-white.png' %}" alt="logo">
                </a>
            </div>
            <div class="offcanvas__search mb-25">
                <form action="#">
                    <input type="text" placeholder="What are you searching for?">
                    <button type="submit" ><i class="far fa-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu fix"></div>
            <div class="offcanvas__action">

            </div>
        </div>
        </div>
    </div>
    <!-- offcanvas area end -->
    <div class="body-overlay"></div>
    <!-- offcanvas area end -->